## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import random
import sys

sys.path.append('..')

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/users/simranbains/Desktop/UCD_class/World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hithadhoo,MV,2022-07-25 04:47:11,-0.6000,73.0833,82.06,72,61,8.03,broken clouds
1,1,Mataura,NZ,2022-07-25 04:47:12,-46.1927,168.8643,45.48,91,87,3.91,overcast clouds
2,2,Qaanaaq,GL,2022-07-25 04:47:12,77.4840,-69.3632,37.47,99,100,4.32,overcast clouds
3,3,Puerto Varas,CL,2022-07-25 04:47:13,-41.3195,-72.9854,43.02,100,100,5.75,mist
4,4,Lugovoy,KZ,2022-07-25 04:47:13,42.9472,72.7644,90.32,21,0,6.60,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hithadhoo,MV,2022-07-25 04:47:11,-0.6000,73.0833,82.06,72,61,8.03,broken clouds
10,10,Polovinnoye,RU,2022-07-25 04:47:16,54.7914,65.9864,75.58,56,8,4.63,clear sky
13,13,Rikitea,PF,2022-07-25 04:44:13,-23.1203,-134.9692,75.25,81,15,18.57,few clouds
16,16,Bahia Honda,CU,2022-07-25 04:47:17,22.9036,-83.1592,77.99,88,44,10.25,light rain
22,22,Bandarbeyla,SO,2022-07-25 04:47:20,9.4942,50.8122,81.41,56,96,30.91,overcast clouds
26,26,Cayenne,GF,2022-07-25 04:45:41,4.9333,-52.3333,82.09,1,0,0.00,clear sky
32,32,Kapaa,US,2022-07-25 04:44:15,22.0752,-159.3190,84.18,71,20,14.97,few clouds
35,35,Atuona,PF,2022-07-25 04:44:21,-9.8000,-139.0333,76.48,67,2,14.70,clear sky
38,38,Dholka,IN,2022-07-25 04:47:26,22.7167,72.4667,80.98,69,88,12.91,overcast clouds
42,42,Qui Nhon,VN,2022-07-25 04:47:28,13.7667,109.2333,85.95,66,64,8.39,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
print(len(preferred_cities_df))
preferred_cities_df.count()

243

City_ID                243
City                   243
Country                243
Date                   243
Lat                    243
Lng                    243
Max Temp               243
Humidity               243
Cloudiness             243
Wind Speed             243
Current Description    243
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(axis="index", how="any")
print(len(clean_df))
clean_df.head()

243

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hithadhoo,MV,2022-07-25 04:47:11,-0.6000,73.0833,82.06,72,61,8.03,broken clouds
10,10,Polovinnoye,RU,2022-07-25 04:47:16,54.7914,65.9864,75.58,56,8,4.63,clear sky
13,13,Rikitea,PF,2022-07-25 04:44:13,-23.1203,-134.9692,75.25,81,15,18.57,few clouds
16,16,Bahia Honda,CU,2022-07-25 04:47:17,22.9036,-83.1592,77.99,88,44,10.25,light rain
22,22,Bandarbeyla,SO,2022-07-25 04:47:20,9.4942,50.8122,81.41,56,96,30.91,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hithadhoo,MV,82.06,broken clouds,-0.6000,73.0833,
10,Polovinnoye,RU,75.58,clear sky,54.7914,65.9864,
13,Rikitea,PF,75.25,few clouds,-23.1203,-134.9692,
16,Bahia Honda,CU,77.99,light rain,22.9036,-83.1592,
22,Bandarbeyla,SO,81.41,overcast clouds,9.4942,50.8122,
26,Cayenne,GF,82.09,clear sky,4.9333,-52.3333,
32,Kapaa,US,84.18,few clouds,22.0752,-159.3190,
35,Atuona,PF,76.48,clear sky,-9.8000,-139.0333,
38,Dholka,IN,80.98,overcast clouds,22.7167,72.4667,
42,Qui Nhon,VN,85.95,broken clouds,13.7667,109.2333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        hotel_df.loc[index, "Hotel Name"] = np.nan

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hithadhoo,MV,82.06,broken clouds,-0.6000,73.0833,Scoop Guest House
13,Rikitea,PF,75.25,few clouds,-23.1203,-134.9692,People ThankYou
16,Bahia Honda,CU,77.99,light rain,22.9036,-83.1592,Casa Gualberto - Deysi
22,Bandarbeyla,SO,81.41,overcast clouds,9.4942,50.8122,JABIR HOTEL
26,Cayenne,GF,82.09,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
32,Kapaa,US,84.18,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
35,Atuona,PF,76.48,clear sky,-9.8000,-139.0333,Villa Enata
38,Dholka,IN,80.98,overcast clouds,22.7167,72.4667,jalalpur godhaneshwer
42,Qui Nhon,VN,85.95,broken clouds,13.7667,109.2333,Seagull Hotel
44,Katsuura,JP,82.85,light rain,35.1333,140.3000,Katsuura Hotel Mikazuki

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

In [13]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))